body{
    background-color: #436850;
    margin: 0px;
    color: #FBFADA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-container{
    background-color: #12372A;
    margin: 0px;
    padding: 10px;
}
.header-container a{
    color: #FBFADA;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
}
.calc-container{
    background-color: #12372A;
    margin-top: 50px;
    max-width: 900px;
    padding: 50px;
    border-radius: 50px;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: FBFADA;
}
.input-container h2{
    font-size: 40px;
}
.input-container p{
    border: 2px solid #FBFADA;
    border-radius: 10px;
    padding: 5px;
}
.input-container img{
    height: 30px;
    margin: 0px;
    transform: translate(0, 5px);
    filter: invert(100%);
}
.bt{
    height: 30px;
    font-size: 15px;
    margin-left: 5px;
    font-weight: bolder;
    background: none;
    border: none;
    outline: none;
    transform: translate(0, -5px);
    color: #FBFADA;
}
.bt::-webkit-inner-spin-button{
    display: none;
}
.output-container{
    margin-top: 50px;
    border: 2px solid #FBFADA;
    color: #FBFADA;
    max-width: 500px;
    min-height: 80px;
    border-radius: 20px;
}
#price{
    font-size: 35px;
}
.footer{
    position: relative;
    font-size: 20px;
    top: 10px;
    text-align: center;
    color: #FBFADA;
}
.footer img{
    height: 30px;
    margin-right: 8px;
    transform: translate(0, 8px);
}
/* Desktop styles */
@media (min-width: 768px) {
    /* Styles for screens wider than 768px */
  }
  
  /* Tablet styles */
  @media (min-width: 480px) and (max-width: 767px) {
    /* Styles for screens between 480px and 767px */
  }
  
  /* Mobile styles */
  @media (max-width: 479px) {
    .header-container a{
        color: #FBFADA;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
    }
    .calc-container{
        background-color: #12372A;
        margin-top: 50px;
        max-width: 200px;
        padding: 50px;
        border-radius: 30px;
    }
    .input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .input-container h2{
        font-size: 20px;
    }
    .input-container p{
        border: 2px solid white;
        border-radius: 10px;
        padding: 2px 5px;
    }
    .input-container img{
        height: 20px;
        margin: 0px;
        transform: translate(0, 5px);
        filter: invert(100%);
    }
    .bt{
        height: 30px;
        font-size: 10px;
        margin-left: 5px;
        font-weight: bolder;
        background: none;
        border: none;
        outline: none;
        transform: translate(0, -1px);
        color: white;
    }
    .bt::-webkit-inner-spin-button{
        display: none;
    }
    .output-container{
        margin-top: 20px;
        border: 2px solid white;
        color: white;
        max-width: 300px;
        min-height: 90px;
        border-radius: 20px;
        overflow: hidden;
    }
    #price{
        font-size: 18px;
    }
  }